<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Next bus page!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <script src="main.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class = "column col-6 p-centered">
	<h1>Next bus:</h1>
        <table class="table">
	  <th>route</th>
	  <th>destination</th>
	  <th>Scheduled departure</th>
	  <% data.forEach(function(row) { %>
	  <tr>
	    <td><%= row.RouteNo %>
	    <td><%= row.Schedules[0].Destination %></td>
	    <td><%= row.Schedules[0].ExpectedLeaveTime %></td>
	  </tr>
	  <% }); %>
	</table>
      </div>
    </div>
  </body>
</html>
